html,
body {
    margin: 0;
    height: 100%;
    font-family: "Omnes", sans-serif;
}

h2 {
    margin: .5em;
}

#mapid {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    background: #383838 !important;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: #2c3e50;
    opacity: 0.8;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.custom-popup .leaflet-popup-tip {
    background: #2c3e50;
    opacity: 0.8;
}


/*.custom-popup .leaflet-popup-tip-container {
    width: 40px;
    height: 15px;
}*/


/*.custom-popup .leaflet-popup-tip {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2c3e50;
}*/